<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Example App</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/project.css">
  <link rel="stylesheet" href="/css/task.css">
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
</head>

<body>
  <header>
    <div style="width: 700px;
    display:flex">
      <div style="
      width: -webkit-fill-available;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center; " id="menu-header">
        <a href="" class="item-header">HOME</a>
        <a href="" class="item-header">MEMBER</a>
        <a href="/projects" class="item-header">PROJECT</a>
        <a href="/login" class="item-header">login</a>
        <a href="/" class="item-header">register</a>
      </div>
      <button style="width: 80px;    margin-right: 50px;" id="logout" name="logout" onclick="logout();">logout</button>
    </div>
  </header>

  <div id="main_content">{{{body}}}</div>
  <script>
    function logout() {
      let key = Object.keys(localStorage)
      localStorage.clear()
      location.href = "/login"
    }
  </script>

</body>

</html>