<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>RegistrationForm_v2 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src="js/login.js"></script>

</head>

<body>

    <div class="wrapper" style="background-image: url('images/bg-registration-form-2.jpg');">
        <div class="inner">
            <form>
                <h3>Login</h3>
                <div class="form-wrapper">
                    <label for="">Email</label>
                    <input id="email_input" type="email" class="form-control">
                    <h5 id="error_email" style="display: none; color: red"></h5>
                </div>
                <div class="form-wrapper">
                    <label for="">Password</label>
                    <input id="password_input" type="password" class="form-control">
                    <h5 id="error_login" style="display: none; color: red"></h5>
                </div>
                <button onclick="login(event)" value="Submit form">Login Now</button>

                <br>
                {{!-- <a href="/">
                    <h4>Registration</h4>
                </a> --}}
            </form>
        </div>
    </div>

    {{!-- <script>
        function login(event) {
            event.preventDefault();
            let loginErr = document.getElementById("error_login")
            loginErr.textContent = ""
            loginErr.style.display = 'none'

            let emailValue = document.getElementById("email_input").value
            let passwordValue = document.getElementById("password_input").value
            console.log("emailValue: ", emailValue)
            axios.post('/authenticate', {
                email: emailValue,
                password: passwordValue
            }).then(function (rs) {
                localStorage.setItem('token', rs.data.token)
                localStorage.setItem('user_name', rs.data.name)
                location.href = "/projects"
            }).catch(err => {

                loginErr.textContent = "Email or Password not correct"
                loginErr.style.display = 'block'

            })
        }
    </script> --}}

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>