<html>

<head>
    <meta charset="utf-8">
    <title>RegistrationForm_v2 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src="js/project.js"></script>
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> --}}
    {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> --}}
</head>

<body>
    <script>
        let token = localStorage.getItem("token")
        console.log('token: ', token)
        if (!token) location.href = "/login"
    </script>
    <div style="display: flex;    justify-content: center;">
        <h1 id="welcome_user"></h1>
    </div>
    <button id="myBtn">Add Project</button>
    <div id="project_container">
        <div id="projects_start" class="projects_task">You have no Project.</div>

    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span id="close-tab" class="close">&times;</span>
                <h2>+ add name of the project</h2>
            </div>
            <div class="modal-body">
                <input id="project-input" class="form-control" name="project" type="text" placeholder="...">

                <button onclick="addproject()">OK</button>

            </div>
            <div class="modal-footer">
                <h3></h3>
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById("welcome_user").innerHTML += `Welcome ${localStorage.getItem('user_name')}`
    axios.get('/get-projects', {
        params: { token: localStorage.getItem('token') }
    }).then(rs => {
        console.log(rs)
        projects_start.innerHTML = ''
        rs.data.forEach(project => {
            projects_start.innerHTML += `<div onclick="projectClick(event)"  class="project-item" project-id="${project.id}"><h3 class="h3_project-item">${project.name}</h3></div`
        })
    }).catch(err => {
        console.log(err.response)
    })
    function projectClick(event) {
        let projectId = event.currentTarget.getAttribute('project-id')
        location.href = `/projects/${projectId}/tasks`
    }

</script>

<script>

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>



</html>