<head>
    <meta charset="utf-8">
    <title>RegistrationForm_v2 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/register.js"></script>
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="wrapper" style="background-image: url('images/bg-registration-form-2.jpg');">
        <div class="inner" style="padding-top: 40px; padding-bottom: 0px ">
            <form id="register-tab">
                <h3>Registration </h3>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for=""> Name</label>
                        <input id="name-input" name="name" type="text" class="form-control">
                    </div>

                </div>
                <div class="form-wrapper">
                    <label for="">Email</label>
                    <input id="email-input" name="email" type="email" class="form-control">
                    <h5 id="error_text" style="display: none; color: red"></h5>
                </div>
                <div class="form-wrapper">
                    <label for="">Password</label>
                    <input id="password-input" name="password" type="password" class="form-control">
                </div>
                <div class="form-wrapper">
                    <label for="">Confirm Password</label>
                    <input id="confirm-password" type="password" class="form-control">
                </div>

                <button type="button" onclick="register(event)" value="Submit form">Register Now</button>
                <br>
                {{!-- <a href="/login">
                    <h4>Login</h4>
                </a> --}}
            </form>
        </div>
    </div>



</body><!-- This templates was made by Colorlib (https://colorlib.com) -->