<div style="display: flex;    justify-content: center;">
    <h1 id="project_name"></h1>
</div>

<button id="" onclick="addMember(do)">Add Member</button>
<div id="member-tab">sssssssss</div>

<div id="content_task" style="display: flex">

    <div class="task">
        <div class="item_task">
            <span>OPEN</span>
            <button class="button_task" id="button-task" onclick=""><span class="+">+</span></button>
        </div>
        <div class="item_task" id="input_task">
            <div id="myDIV" class="header">

                <input type="text" id="myInput" placeholder="...">
                <div style="display: flex;     justify-content: space-between;">
                    <button onclick="addtask()" class="addBtn">Add</button>
                    <button class="addBtn canced">Cancel</button>
                </div>
            </div>


        </div>
        <div id="list_open" class="item_task item">


        </div>
    </div>


    <div class="task">
        <div class="item_task">
            <span>DOING</span>
            <button class="button_task"><span class="+">+</span></button>
        </div>
        <div id="list_doing" class="item_task item"></div>
    </div>
    <div class="task">
        <div class="item_task">
            <span>FINISH</span>
            <button class="button_task"><span class="+">+</span></button>
        </div>
        <div id="list_finish" class="item_task item"></div>
    </div>
</div>

<script>
    let pathes = location.pathname.split('/')
    let id = pathes[2]
    function loadtask() {
        console.log('----------->')

        axios.get('/get-tasks', {
            params:
            {
                projectId: id,
                token: localStorage.getItem('token')
            }
        }).then(rs => {
            console.log(rs)
            console.log('k');
            list_open.innerHTML = '';
            list_doing.innerHTML = '';
            list_finish.innerHTML = '';
            rs.data.forEach(task => {
                console.log(task)

                if (task.process == "open") {
                    list_open.innerHTML += `<div class="list_task"  task-id="${task.id}">${task.content}<span onclick="openClick(event)" class="move_task move_open">></span></div`

                }
                if (task.process == "doing") {
                    list_doing.innerHTML += `<div class="list_task"  task-id="${task.id}">${task.content}<span onclick="doingClick(event)" class="move_task move_doing">></span></div`
                }
                if (task.process == "finish") {
                    list_finish.innerHTML += `<div class="list_task" task-id="${task.id}">${task.content}<span onclick="finishClick(event)" class="move_task move_finish"><></span></div`
                }



            })
        }).catch(err => console.log(err))
    }
    loadtask()
</script>
<script>
    let moveOpen = document.getElementsByClassName("move_open")
    let moveDoing = document.getElementsByClassName("move_doing")
    let moveFinish = document.getElementsByClassName("move_finish")
    function openClick(event) {

        let taskId = event.target.closest('div').getAttribute("task-id")
        axios.post('/move-open', {
            taskId: taskId

        }).then(rs => {
            loadtask()

        })

    }
    function doingClick(event) {

        let taskId = event.target.closest('div').getAttribute("task-id")
        axios.post('/move-doing', {
            taskId: taskId

        }).then(rs => {
            loadtask()

        })

    }
    function finishClick(event) {

        let taskId = event.target.closest('div').getAttribute("task-id")
        axios.post('/move-finish', {
            taskId: taskId

        }).then(rs => {
            loadtask()

        })

    }
</script>
<script>
    // Get the input_task
    let input_task = document.getElementById("input_task");

    // Get the button that opens the input_task
    let btn = document.getElementById("button-task");

    // Get the <span> element that closes the input_task
    let buttonCancel = document.getElementsByClassName("canced")[0];

    // When the user clicks the button, open the input_task 
    btn.onclick = function () {
        input_task.style.display = "block";
    }

    // When the user clicks on <span> (x), close the input_task
    buttonCancel.onclick = function () {
        input_task.style.display = "none";
    }

    // When the user clicks anywhere outside of the input_task, close it
    window.onclick = function (event) {
        if (event.target == input_task) {
            input_task.style.display = "none";
        }
    }
</script>
{{!-- <script>
    // Create a "close" button and append it to each list item
    let myNodelist = document.getElementsByClassName("list_task");
    let i;
    for (i = 0; i < myNodelist.length; i++) {
        let span = document.createElement("SPAN");
        let txt = document.createTextNode("");
        span.className = "close_task";
        span.appendChild(txt);
        myNodelist[i].appendChild(span);
    }

</script> --}}
<script>
    function addtask() {

        let content = document.getElementById('myInput').value
        let process = "open"
        let pathes = location.pathname.split('/')
        let projectid = pathes[2]
        let token = localStorage.getItem('token')
        console.log(pathes[2])
        axios.post('/create-task', {
            content: content,
            process: process,
            projectId: projectid,
            memberId: token,
        }).then(rs => {
            location.reload()

        }).catch(err => {
            console.log("tach")

        })
    }

</script>
<script>
    // Simple list
    Sortable.create(list_open, { /* options */ });
</script>
<script>

    // Get the modal
    let memberTab = document.getElementById("member-tab");



    // Get the <span> element that closes the modal
    let span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    function addMember() {
        memberTab.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function (do) {
        memberTab.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            memberTab.style.display = "none";
        }
    }
</script>
<script>

</script>