<div class="boards-list w-100 py-3 px-2 text-nowrap">
    <!---->
    <div data-id="3230853" class="board d-inline-block h-100 px-2 align-top ws-normal is-expandable">
        <div class="board-inner d-flex flex-column position-relative h-100 rounded">
            <header class="board-header position-relative">
                <h3 class="board-title m-0 d-flex align-items-center py-2 px-3 js-board-handle"><i aria-hidden="true"
                        class="fa fa-fw board-title-expandable-toggle fa-caret-down"></i>
                    <!---->
                    <!----> <span title="" data-container="body" class="board-title-text has-tooltip block-truncated"
                        data-original-title="Open">
                        Open
                    </span>
                    <!---->
                    <!---->
                    <!---->
                    <div title="" data-placement="top" class="issue-count-badge text-secondary"
                        data-original-title="0 issues"><span class="issue-count-badge-count"><svg aria-hidden="true"
                                class="mr-1 s16 ic-issues">
                                <use
                                    xlink:href="https://gitlab.com/assets/icons-766d48649a17cbbe1455835b9179477bf30a639498202bbc154d72aca006c149.svg#issues">
                                </use>
                            </svg>
                            0
                        </span></div> <button aria-label="New issue" data-container="body" data-placement="top" title=""
                        type="button"
                        class="issue-count-badge-add-button btn btn-sm btn-default ml-1 has-tooltip js-no-trigger-collapse"
                        data-original-title="New issue"><i aria-hidden="true" data-hidden="true"
                            class="fa fa-plus js-no-trigger-collapse"></i></button>
                </h3>
            </header>
            <div class="board-list-component position-relative h-100 d-flex flex-column">
                <!---->
                <!---->
                <ul data-board="3230853" data-board-type="backlog"
                    class="board-list w-100 h-100 list-unstyled mb-0 p-1 js-board-list" style="">
                    <!---->
                </ul>
            </div>
            <!---->
            <!---->
        </div>
    </div>
    <div data-id="3230855" class="board d-inline-block h-100 px-2 align-top ws-normal is-draggable">
        <div class="board-inner d-flex flex-column position-relative h-100 rounded">
            <header class="board-header has-border position-relative" style="border-top-color: rgb(68, 173, 142);">
                <h3 class="board-title m-0 d-flex align-items-center py-2 px-3 js-board-handle user-can-drag">
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!----> <span data-container="body" data-placement="bottom"
                        class="badge board-title-text color-label has-tooltip title"
                        style="background-color: rgb(68, 173, 142); color: rgb(255, 255, 255);" data-original-title=""
                        title="">
                        Doing
                    </span> <button aria-label="Delete list" data-placement="bottom" title="" type="button"
                        class="board-delete p-0 border-0 has-tooltip float-right" data-original-title="Delete list"><i
                            aria-hidden="true" data-hidden="true" class="fa fa-trash"></i></button>
                    <div title="" data-placement="top" class="issue-count-badge text-secondary"
                        data-original-title="0 issues"><span class="issue-count-badge-count"><svg aria-hidden="true"
                                class="mr-1 s16 ic-issues">
                                <use
                                    xlink:href="https://gitlab.com/assets/icons-766d48649a17cbbe1455835b9179477bf30a639498202bbc154d72aca006c149.svg#issues">
                                </use>
                            </svg>
                            0
                        </span></div> <button aria-label="New issue" data-container="body" data-placement="top" title=""
                        type="button"
                        class="issue-count-badge-add-button btn btn-sm btn-default ml-1 has-tooltip js-no-trigger-collapse"
                        data-original-title="New issue"><i aria-hidden="true" data-hidden="true"
                            class="fa fa-plus js-no-trigger-collapse"></i></button>
                </h3>
            </header>
            <div class="board-list-component position-relative h-100 d-flex flex-column">
                <!---->
                <!---->
                <ul data-board="3230855" data-board-type="label"
                    class="board-list w-100 h-100 list-unstyled mb-0 p-1 js-board-list" style="">
                    <!---->
                </ul>
            </div>
            <!---->
            <!---->
        </div>
    </div>
    <div data-id="3230854" class="board d-inline-block h-100 px-2 align-top ws-normal is-expandable">
        <div class="board-inner d-flex flex-column position-relative h-100 rounded">
            <header class="board-header position-relative">
                <h3 class="board-title m-0 d-flex align-items-center py-2 px-3 js-board-handle"><i aria-hidden="true"
                        class="fa fa-fw board-title-expandable-toggle fa-caret-down"></i>
                    <!---->
                    <!----> <span title="" data-container="body" class="board-title-text has-tooltip block-truncated"
                        data-original-title="Closed">
                        Closed
                    </span>
                    <!---->
                    <!---->
                    <!---->
                    <div title="" data-placement="top" class="issue-count-badge text-secondary"
                        data-original-title="1 issue"><span class="issue-count-badge-count"><svg aria-hidden="true"
                                class="mr-1 s16 ic-issues">
                                <use
                                    xlink:href="https://gitlab.com/assets/icons-766d48649a17cbbe1455835b9179477bf30a639498202bbc154d72aca006c149.svg#issues">
                                </use>
                            </svg>
                            1
                        </span></div>
                    <!---->
                </h3>
            </header>
            <div class="board-list-component position-relative h-100 d-flex flex-column">
                <!---->
                <!---->
                <ul data-board="3230854" data-board-type="closed"
                    class="board-list w-100 h-100 list-unstyled mb-0 p-1 js-board-list" style="">
                    <li index="0" data-issue-id="22011930" class="board-card p-3 rounded user-can-drag"
                        draggable="false">
                        <div>
                            <div dir="auto" class="d-flex board-card-header">
                                <h4 class="board-card-title append-bottom-0 prepend-top-0">
                                    <!----><a href="/rongdenthui63/company/issues/1" title="Đi chợ"
                                        class="js-no-trigger" draggable="false">Đi chợ</a></h4>
                            </div>
                            <!---->
                            <div class="board-card-footer d-flex justify-content-between align-items-end">
                                <div
                                    class="d-flex align-items-start flex-wrap-reverse board-card-number-container overflow-hidden js-board-card-number-container">
                                    <span class="board-card-number overflow-hidden d-flex append-right-8 prepend-top-8">
                                        <!---->#1
                                    </span> <span class="board-info-items prepend-top-8 d-inline-block">
                                        <!---->
                                        <!---->
                                        <!----></span></div>
                                <div class="board-card-assignee d-flex">
                                    <!---->
                                </div>
                            </div>
                        </div>
                    </li>
                    <!---->
                </ul>
            </div>
            <!---->
            <!---->
        </div>
    </div>
</div>