<h1>List Users</h1>
<table id="customers">
  <tr class="table-header">
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Action</td>
  </tr>
  {{#each users}}
  <tr>
    <td>{{first_name}}</td>
    <td>{{last_name}}</td>
    <td>{{email}}</td>
    <td><a href="/users/{{id}}">View</a></td>
  </tr>
  {{/each}}
</table>
<form action="/create-user" method="post">
  <fieldset>
    <label>First Name</label>
    <input name="first_name" />
  </fieldset>
  <fieldset>
    <label>Last Name</label>
    <input name="last_name" />
  </fieldset>
  <fieldset>
    <label>Email</label>
    <input name="email" />
  </fieldset>
  <button>Save</button>
</form>

<script>
  let users = decodeURIComponent("{{encode_users}}")
  console.log(JSON.parse(users)[0])
</script>

<style>
  form {
    margin-top: 25px
  }

  button {
    margin-top: 15px;
    float: right;
  }

  input {
    width: 320px;
    height: 32px;
  }


  fieldset {
    display: flex;
    justify-content: space-between
  }

  .table-header td {
    background-color: #4CAF50
  }

  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
</style>