header{
    height: 100px;
    display: flex;
    justify-content: center;
}
.menu-header{
    width: 850px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}


.item-header{
    font-size: x-large;
}