#content_task{ display: flex;
justify-content: center}
.task {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 
   
    margin: 15px;
    width: 300px;
 
}
.item_task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 
    padding: 5px;
    margin: 5px;
   
 
}
#input_task{
    display: none ;
}                      
.button_task{  border: none;
    width: 30px;
    height: 30px;
    margin: 0;
   
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #ae3c33;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Muli-SemiBold";
    border-radius: 20px;
    overflow: hidden;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }

    /* TO DO LIST------------------------------------- */

  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
      width: 100%;
    cursor: pointer;
    position: relative;
    padding: 5px 10px 5px 10px;
    list-style-type: none;
    background: #eee;
    font-size: 16px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the move_task button */
  .move_task {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 10px 0px 10px;
    font-size: 24px;
  }
  
  .move_task:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
      width: 100%;
 
    
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  /* input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  } */
  
  /* Style the "Add" button */
  .addBtn {
    padding: 0px;
   width: 30%;
   height: 25px;
   margin: 0px;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }
  input{width: 100%;
    font-size: 16px;
    padding: 3px;
}
.list_task{
  width: 100%;
cursor: pointer;
position: relative;
padding: 5px 10px 5px 10px;
margin: 5px 0px 5px 0px;
list-style-type: none;
background: #eee;
font-size: 16px;
transition: 0.2s;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
/* make the list items unselectable */
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;}
.item{flex-direction: column;}

#member-tab{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  
  right: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 
   
 background-color: white;
  width: 500px;
  height: 400px;
}
